@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    scroll-behavior: smooth;

}

/*Auto Show Animation*/
/*!!! FIREFOX DOES NOT SUPPORT ANIMATION-TIMELINE !!!*/
.autoShow {
    animation: autoShowAnimation both;
    animation-timeline: view(auto auto);
    animation-range: entry 20% cover 100vh;
}

@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Image Reveal Animation*/
.imageReveal {
    animation: imageReveal both;
    animation-timeline: view(70% 5%);
}

@keyframes imageReveal{
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }

    to{
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

.imageReveal--gallery {
    animation: imageReveal--gallery both;
    animation-timeline: view(70% 5%);
}

@keyframes imageReveal--gallery{
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .8;
        translate: 0 4rem;
        transition: all 0.3s ease;
    }

    to{
        saturate: 0;
        contrast: 0;
        brightness: 0;
        blur: 0;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}


#home{
    background-image: url(images/Resident-Evil-Requiem-Leon_02.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    background: #121212;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; /*19.2px since 1 rem = 16px*/
    position: sticky;
    top: 0;
    z-index: 999; /*ensure stick and always be above*/
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #ffffff;
    background-image: linear-gradient(to top, #4b134f, #c94b4b);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}
/* 
.fa-gem{
    margin-right: 0.5rem;
} */

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    width: 125px;
    height: 100%;
    position: relative;
}

.navbar__links:hover{
    color: #dd1818;
    transition: all 0.3s ease;
}
/* 
.navbar__links::after{
    content:'';
    position: absolute;
    width:100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -6px;
    left: 0;
    background-color: #dd1818;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar__links:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none; /*1px border white*/
    outline: none;
    border-radius: 30px;
    background: rgb(102, 30, 30);
    background: -webkit-linear-gradient(to right, #93291e, #ed213a);
    background: linear-gradient(to right,#93291e, #ed213a);
    color: #fff;
    transition: all 0.3 ease;
}

.button:hover{
    background: #dd1818;
    /* background: -webkit-linear-gradient(to left, #93291e, #ed213a);
    background: linear-gradient(to left,#93291e, #ed213a); */
    color: #fff;
    transition: all 0.5s ease;
    transform: scale(1.05);
}





@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
            top: -1000px;  /*comment those two first*/
            opacity: 0;   /*comment those two first*/
        transition: all 0.5s ease;
        z-index: -1;
        background: #131313;
    }
    /*trigger the menu, need js*/
    .navbar__menu.active{
        background: #131313;
        top:100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    
    }
    .navbar__toggle .bar{
        width:25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3 ease-in-out;
        background: #ffffff;
        display: block;
        cursor: pointer;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }


    /*smooth transition, remove comment in .navbar__menu*/
    /*animation needs js*/
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    /*nothing happen bc we need JS to make it work*/

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    /* .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    } */

}

/**Hero Section*/
.hero {
    background: #131313;
    /* background: linear-gradient(to right, #9bffa3, #ff8b8b);   */
    padding: 200px 0;


}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero__heading{
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;
}

.hero__container span{
    background: #bebebe; /*falls back for old browser*/
    background: -webkit-linear-gradient(to right, #93291e, #ed213a);
    background: linear-gradient(to right,#93291e, #ed213a);
    color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent
}

.hero__description{
    font-size: 60px;
    background: #bebebe;
    background: -webkit-linear-gradient(to left, #ddcd18, #6b0c17);
    background: linear-gradient(to left,#ddcd18, #6b0c6a);
    color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent
}

.highlight {
    border-bottom: 3px solid #dd1818;
}

@media screen and (max-width: 768px) {

    .hero__heading{
        font-size: 60px;
    }

    .hero__description{
        font-size: 40px;
    }
}

/**About me Section**/

.main {
    background-color: #000000;
    padding: 5rem 0;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr; /*fraction for 1 part of the available space*/
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content{
    color: #fff;
    width: 100%;
    text-align: left;
}

.main__content h1{
    font-size: 2rem;
    background-color: #dd1818;
    /* background-image: linear-gradient(to top, #5e1212 0%, #ff4a4a 100%); */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

/**copy from hero__heading**/
.main__content h2{
    font-size: 4rem;
    background: #bebebe;
    background: -webkit-linear-gradient(to left, #dd1818, #6b0c17);
    background: linear-gradient(to left,#dd1818, #6b0c6a);
    color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    /* font-weight: 700; */
}

/*search .button**/
.main__btn{
    font-size: 1.8rem;
    background: rgb(102, 30, 30);
    background: -webkit-linear-gradient(to right, #93291e, #ed213a);
    background: linear-gradient(to right,#93291e, #ed213a);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position:absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #dd1818;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover{
    color: #fff;
}

.main__btn:hover:after{
    width: 100%;
}

.main__img--container{
    text-align: center;
}

.main__img--card{
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffff;
    background-image: linear-gradient(to right, #93291e, #ed213a);
    background-image: url(images/re4Leon.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

/* #card-2{
    background: rgb(78, 102, 30);
    background: -webkit-linear-gradient(to right, #93291e, #ed213a);
    background: linear-gradient(to right,#93291e, #ed213a);    
} */

/**Mobile Responsive**/
@media screen and (max-width:1100px) {
    .main__container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main__img--container {
        display: flex;
        justify-content: center;
    }

    .main__img--card{
        height: 425px;
        width: 425px;
        
    }
    
    .main__content{
        text-align: center;
        margin-bottom: 4rem;
        padding: 0 1.2rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top:2rem;
    }

    .main__content h2{
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {

    .main__img--card{
        width: 250px;  
        height: 250px;
    }

    .main__content{
        text-align: center;
        margin-bottom: 4rem;
        padding: 0 1.2rem;
    }

    .main__content h1 {
        font-size: 2rem;
        margin-top:3rem;
    }

    .main__content h2{
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
    }
    
    .main__btn{
        padding: 12px 36px;
        margin: 2.5 rem 0;
    }
}

/*Gallery Section*/

.gallery {
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem 0;
}


/*go to #navbar__logo*/
.gallery h1{
    background-color: #ff1414;
    background-image: linear-gradient(to right, #5e1212 0%, #ff2323 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 3rem;
    font-size: 5rem;
}

.gallery__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.gallery__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right,#4b134f, #c94b4b 100%);
    transition: 0.3s ease-in;
    background-image: url('images/re2Leon.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}

.gallery__card:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
}

.gallery__card:nth-child(2){
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url('images/leon-phone.jpg');
    background-size: cover;
    background-position: center;   
}

.gallery__card:nth-child(3){
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url('images/Watch2.jpeg');
    background-size: cover;
    background-position: center;   
}

.gallery__card:nth-child(4){
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url('images/Watch.jpg');
    background-size: cover;
    background-position: center;   
}

.gallery__card h2{
    text-align: center;
}

.gallery__card p{
    text-align: center;
    margin-top: 24px;
    font-size:20px;
}

@media screen and (max-width: 1300px) {
    .gallery__wrapper{
        grid-template-columns: 1fr 1fr;
    }
    
}


@media screen and (max-width: 768px) {
    .gallery__wrapper{
        grid-template-columns: 1fr;
    } 
}



/*Footer CSS*/
.footer__container{
    background: #000000;
    color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}